/*-- scss:defaults --*/
//$body-bg:            #F5EFE4 !default;
//$navbar-bg:	           #F5EFE4;
$navbar-fg:	           #000;
$navbar-hl:             #000; 
$orange: #D26949;
$warning: #D26949;
$green: #6DBE93;
$font-family-sans-serif:      "Circular Std", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$link-color: #2C393F;
$dark: #2C393F;

hr {
    border: 0px;
    display: block;
    background-size: cover;
    background-image: url(./img/wave.svg);
    height: 150px !important;
    background-color: white !important;
    margin: 25px -500px 25px -500px !important;
    padding: 25px 500px 25px 500px;
}

.btn:hover, .btn:focus, .btn:active, .btn.active {
    color: #fff;
    background-color: #0b5ed7 !important;
    border-color: #285e8e !important; /*set the color you want here*/
}

.headroom {
    border-bottom: 1px solid rgba(0, 0, 0, 0.10);
}
body, td, div, li {
    color: #2C393F;
font-family: "Circular Std", "Open Verdana", Geneva, Tahoma, sans-serif;
font-size: 18px;
font-style: normal;
line-height: 29px;
}
.footer, .footer a {
    color: white;
    background: #2C393F;
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.10);
}
.special-section {
    background-color: #F5EFE4;
    margin: 25px -500px 25px -500px;
    padding: 250px 500px 250px 500px;
    mask:
    radial-gradient(335.41px at 50% 450.00px,#000 99%,#0000 101%) calc(50% - 300px) 0/600px 51% repeat-x,
    radial-gradient(335.41px at 50% -300px,#0000 99%,#000 101%) 50% 150px/600px calc(51% - 150px) repeat-x,
    radial-gradient(335.41px at 50% calc(100% - 450.00px),#000 99%,#0000 101%) 50% 100%/600px 51% repeat-x,
    radial-gradient(335.41px at 50% calc(100% + 300.00px),#0000 99%,#000 101%) calc(50% - 300px) calc(100% - 150px)/600px calc(51% - 150px) repeat-x;
  }
h1 {
    color: #10AC59;
}
.navbar-brand-container {
    background-image: url("https://lsc-hubs.org/images/logo-lsc-hubs.svg");
    background-size: cover;
    width: 210px;
    height: 60px;
}

h1,h2,h3,h4,h5,h6 {
    border-bottom:none !important;
}
.navbar-title { visibility:hidden }
 
code {
    border: 1px solid gray;
    padding-left: 10px !important;
    padding-right: 10px !important;
    border-radius: 5px;
}

.btn-success {
    border-radius: 30px;
    border: 1px solid #10AC59 !important;
    color: white !important;
    background: #6DBE93 !important;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 12px 20px !important;
}

.btn-warning {
    border-radius: 30px;
    border: 1px solid #C9502B !important;
    color:white !important;
    background: #D26949 !important;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 12px 20px !important;
}